.col-2{
    text-align: center;
    margin-top: 6px;
    
  }
  .col-1{
    text-align: center;
    margin-top: 6px;
  }
  .form-popup {
      display: none;
      position: relative;
      right: 15px;
     
      z-index: 9;
    }
    .form-container {
      max-width: 400px;
      
      text-align: center;
      
    }
    .form-container input[type=text] {
      width: 100%;
      padding: 5px;
      margin: 5px 0 22px 0;
      border: none;
      background: #f1f1f1;
    }
    